html, body {
    padding: 0;
    margin: 0;
    border: 0;
}

.padding-container {    
    padding: 0 15%;
    display: flex;    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;    
}

.header, .main-part, .footer {
    background-color: #1F2937;
}

.header .padding-container {
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    margin-left: auto;
    font-size: 18px;
}

.links a {
    color: #E5E7EB;
}

.main-part .padding-container {
    padding-top: 50px;
    padding-bottom: 70px;
    gap: 18px;
}

.main-part-head {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

.main-part-text {
    font-size: 24px;
    color: #E5E7EB;
    margin: 18px auto;
    /*max-width: 40%;*/
}

.main-part button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 3px 28px;
    border-radius: 8px;
    border: none;
    text-align: center;
    display: inline-block;
}

.main-part img {
    width: 390px;
    height: 218px;
    margin-left: auto;
    margin-right: auto;
}

.informations .padding-container {
    margin: 3% 0 7% 0;
    flex-direction: column;
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 4%;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-row img {
    border-radius: 8px;
}

.text {
    max-width: 180px;
}

.quote .padding-container {
    padding-top: 100px;
    padding-bottom: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-itself {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: light;
}

.author-quote {
    margin-left: auto;
    margin-right: 90px;
    font-size: x-large;
}

.sign-part {
    display: flex;
    background-color: #F9FAF8;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.sign-cover {
    background-color: #3882F6;
    height: 45%;
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-part .sign-cover .padding-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-header {
    color: #F9FAF8;
    font-size: 24px;
}

.call-to-action-text {
    color: #E5E7EB;
}

.right-sign {
    display: flex;
    align-items: center;
}

.sign-part button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 3px 28px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    color: #E5E7EB;
}
